{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div>
          <h3 class="singleProject__subtitle">Map</h3>
          {% if project.source_link %}
          <a class="singleProject__liveLink" href="{{project.source_link}}" target="_blank"><i class="im im-external-link"></i>Gmap
          </a>
          {% endif %}
          {% if project.demo_link %}
          <a class="singleProject__liveLink" href="{{project.demo_link}}" target="_blank"><i class="im im-external-link"></i>Demo 
          </a>
          {% endif %}

        </div>

        <div >
          <img class="singleProject__preview" src="{{ project.imageURL }}" alt="portfolio thumbnail" />
          <a href="{% url 'user-profile' project.owner.id %}" class="singleProject__developer">By {{project.owner.name}}</a>
          <h2 class="singleProject__title">{{project.title}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            {{project.description}}
          </div>
          <h6 class="singleProject__subtitle1">Owner Name</h6>
          <div class="singleProject__info">
            {{project.owner_name}}
          </div>
          <h6 class="singleProject__subtitle1">Land Size</h6>
          <div class="singleProject__info">
            {{project.land_size}}
          </div>
          <h6 class="singleProject__subtitle1">Price</h6>
          <div class="singleProject__info">
            {{project.price}}
          </div>
          <h6 class="singleProject__subtitle1">Address</h6>
          <div class="singleProject__info">
            {{project.address}}
          </div>
          <h6 class="singleProject__subtitle1">Frontage</h6>
          <div class="singleProject__info">
            {{project.frontage}}
          </div>
          <h6 class="singleProject__subtitle1">CMDA Approved</h6>
          <div class="singleProject__info">
            {{project.cmda_approved}}
          </div>
          <h6 class="singleProject__subtitle1">Direct Party</h6>
          <div class="singleProject__info">
            {{project.direct_party}}
          </div>
          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{project.vote_ratio}}% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
            </h5>
            {% if request.user.profile.id in project.reviewers %}
            <p>You have already submitted review for this project</p>
             
                {% elif request.user.is_authenticated %}
                <form class="form" action="{% url 'project' project.id %}" method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form__field">
                    <label for="formInput#textarea">{{field.label}}</label>
                    {{field}}
                  </div>
                  {% endfor %}
                  <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                </form>
              {% else %}
              <a href="{% url 'login' %}?next={{request.path}}">Please login to leave as review</a>
            {% endif %}
            <div class="commentList">
              {% for review in project.review_set.all %}
              {% if review.body %}
              <div class="comment">
                <a href="{% url 'user-profile' review.owner.id %}">
                  <img class="avatar avatar--md"
                    src="{{review.owner.imageURL}}" alt="user" />
                </a>

                <div class="comment__details">
                  <a href="{% url 'user-profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                  <p class="comment__info">{{review.body|linebreaksbr}}</p>
                </div>       
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock content%}